.dropdown {
  width: 12.5rem;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  position: relative;
  background-color: white;
  margin: 0rem 1rem;
  font-family: 'Source Code Pro', monospace;
  color: #1f0d39;

  :root {
    --dropdown-focus: #1f0d39;
    --dropdown-hover: #ebeaed;
  }

  .selector {
    padding: 0.5rem;
    width: 100%;
    cursor: pointer;
    border: 1px solid #ebeaed;
    border-radius: 2px;
    position: relative;
  }

  .focus {
    border: 1px solid var(--dropdown-focus);
  }

  .focus + .caret {
    color: var(--dropdown-focus);
  }

  ul {
    position: absolute;
    top: 1.8rem;
    list-style: none;
    padding-left: 0;
    margin-top: 0.5rem;
    border: 1px solid #ebeaed;
    border-radius: 0.3rem;
    box-shadow: 0px 1px 3px #ebeaed;
    background-color: white;
    z-index: 9;
  }

  .caret {
    position: absolute;
    bottom: 0.8rem;
    right: 0.1rem;
    font-size: 0.5rem;
    font-weight: bolder;
  }

  li {
    padding: 0.5rem 0.6rem;
    margin: 0;
    width: 12.5rem;
    cursor: pointer;
    margin: 0.2rem 0rem;
  }

  li:hover {
    background-color: var(--dropdown-hover)
  }
}
