.HorizontalProgressBar {
  text-align: right;
  display: inline-block;

  label {
    color: grey;
    margin-bottom: 0.3rem;
    display: inline-block;
    font-weight: 700;
  }

  .horizontal-progress-bar-wrapper {
    border-radius: 0.5rem;
  }

  .horizontal-progress-bar {
    border-radius: inherit;
  }
}