.Table {
  table {
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0px 1px 5px #ebeaed;
  }

  td {
    font-size: 1rem;
    text-align: center;
    overflow: scroll;
    max-width: 200px;
  }

  thead h1 {
    text-transform: uppercase;
    display: inline-block;
  }

  tr,
  thead {
    border-bottom: 1px solid #ebeaed;
  }
}
